 <div class="carousel">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block" src="./img/naruto1.jpg" alt="First slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block" src="./img/obito.jpg" alt="Second slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block" src="./img/sasuke.jpg" alt="Third slide" />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <img src="./img/arrow-left.png" alt="" />
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <img src="./img/arrow-right.png" alt="" />
          </a>
        </div>
      </div>
      <div class="showntimes">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <div class="item__img">
              <img src="./img/webpnet-resizeimage-43-poster.jpg" alt="" />
            </div>
            <div class="item__title">
              <h5><a href="#">Rồng thần vượt gió</a></h5>
              <p>khởi chiếu 25/06/2021</p>
            </div>
            <div class="item__detail">
              <button><a href="#">chi tiết</a></button>
              <button><a href="">mua vé</a></button>
              <p><span>thời lượng: </span>100 phút</p>
              <p><span>thể loại: </span>kinh dị</p>
            </div>
          </div>
          <div class="item">
            <div class="item__img">
              <img src="./img/webpnet-resizeimage-43-poster.jpg" alt="" />
            </div>
            <div class="item__title">
              <h5><a href="#">Rồng thần vượt gió</a></h5>
              <p>khởi chiếu 25/06/2021</p>
            </div>
            <div class="item__detail">
              <button><a href="#">chi tiết</a></button>
              <button><a href="">mua vé</a></button>
              <p><span>thời lượng: </span>100 phút</p>
              <p><span>thể loại: </span>kinh dị</p>
            </div>
          </div>
          <div class="item">
            <div class="item__img">
              <img src="./img/webpnet-resizeimage-43-poster.jpg" alt="" />
            </div>
            <div class="item__title">
              <h5><a href="#">Rồng thần vượt gió</a></h5>
              <p>khởi chiếu 25/06/2021</p>
            </div>
            <div class="item__detail">
              <button><a href="#">chi tiết</a></button>
              <button><a href="">mua vé</a></button>
              <p><span>thời lượng: </span>100 phút</p>
              <p><span>thể loại: </span>kinh dị</p>
            </div>
          </div>
          <div class="item">
            <div class="item__img">
              <img src="./img/webpnet-resizeimage-43-poster.jpg" alt="" />
            </div>
            <div class="item__title">
              <h5><a href="#">Rồng thần vượt gió</a></h5>
              <p>khởi chiếu 25/06/2021</p>
            </div>
            <div class="item__detail">
              <button><a href="#">chi tiết</a></button>
              <button><a href="">mua vé</a></button>
              <p><span>thời lượng: </span>100 phút</p>
              <p><span>thể loại: </span>kinh dị</p>
            </div>
          </div>
          <div class="item">
            <div class="item__img">
              <img src="./img/webpnet-resizeimage-43-poster.jpg" alt="" />
            </div>
            <div class="item__title">
              <h5><a href="#">Rồng thần vượt gió</a></h5>
              <p>khởi chiếu 25/06/2021</p>
            </div>
            <div class="item__detail">
              <button><a href="#">chi tiết</a></button>
              <button><a href="">mua vé</a></button>
              <p><span>thời lượng: </span>100 phút</p>
              <p><span>thể loại: </span>kinh dị</p>
            </div>
          </div>
        </div>
      </div>